extends ./../layout


block body
  if (errors)
    each error in errors
      include ./../common/warning
    

  if (Object.keys(providers).length)
    h4 You can also use one of these...
    each key in Object.keys(providers)
      a(href="/auth/#{providers[key].slug}" role="button")= providers[key].name
